@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet");
:root{
  --zutozelena:#bbd547 ;
  --zelena:#81b36e;
  --zelenoplava:#429099;
  --plava:#1375b8;
  --siva:#f3f3f3;
  --tamnosiva:#7c7c7c;

}
html, body, *{
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}
* h1,h2,h3,p,a{
  font-weight: lighter;
  color: var(--tamnosiva)
}
 h1{
    font-size: 46px;
    line-height: 66px;
}
h2{

}
h3{
  font-size: 18px
}
p{
  font-size: 12px;
  font-weight: lighter;
}
* ul{
  list-style: none;

}
* a{
  text-decoration: none;
}
.home:hover{
  color: var(--zutozelena)
}
.about:hover{
  color: var(--zelena)
}
.work:hover{
  color: var(--zelenoplava)
}
.contact:hover{
  color: var(--plava)
}
button{
  box-shadow: none;
  border: none;
  background: #f3f3f4;
  color: var(--tamnosiva);
  font-size: 10px;
  padding: 2px;
  float: right;
}
button:hover{
  cursor: pointer;
  color: white;
  background: var(--zutozelena)
}
.wrapper{
  max-width: 768px;
  margin: auto ;
}
/* Header start*/
header{
  clear: both;
  width: 100%;
  padding-top:25px;
}
.mob{
  display: none;
}
.tablet{
  display: none;
}
.logo{
  float: left;
  width: 150px;
  height: 50px;
  margin:0 0 30px 25px;
}
.logo img{
  width: 100%
}
nav .nav{
  margin: 15px 0px 0px 100px;
  float: left;
}
 nav .nav ul{
  line-height: 100%;
}
 nav .nav ul li{
  transition: 1.1s all ease;
  padding: 5px;
  float: left;
  text-align: center;
  font-weight: 300;
  font-size: 16px;
}
router-link:hover,{
    color:  var(--zelena);
    cursor: pointer;
  }
.line{
  clear: both;
  height: 12px;
  width: 100%;
  background:linear-gradient(90deg, var(--zutozelena) 0%, var(--zelena) 33%, var(--zelenoplava) 66%, var(--plava) 100%);
}
.search{
  float: right;
}
.search img{
  width:16px;
  float: right;
  margin: 20px 30px;
}
.search:hover{
  cursor: pointer;
}
.search-input input{
  position: absolute;
  top: 70px;
  right: 400px;
  width: 320px;
  padding: 2px;
  font-size: 12px;

}
/* header end */

/* hero start */
.hero{
z-index:-1;
clear: both;
position: relative;
background-position: center center;
background: var(--siva);
background-size: cover;
width: 100%;
height: 310px;
margin-bottom: 40px;
}
.hero .tackice{
  position: relative;
  top: 80px;
}
.hero .icon{
  position: absolute;
  z-index: 10;
  width: 530px;
  top: 70px;
  left:120px
}
.icon img{
    width: 170px;
    float: left;
}
.tekst-mob{
  display: none
}
.icon .tekst{
  margin-top: 20px;
  text-align: left;
  float: right;
  width: 340px;
}
.dots{
  width: 60px;
  left: 355px;
  position: absolute;
  bottom: 15px
}
.dot{
  background: var(--tamnosiva);
  border-radius: 50%;
  width: 10px;
  height: 10px;
  float: left;
  margin: 5px;
}
.dot:nth-child(1){
  background: var(--zutozelena)
}
/* hero edn */

/* main start */
.main {
  width: 420px;
  clear: both;
  margin: auto;
}
.second{
  clear: both;
  overflow: hidden;
}
.main .slika{
  text-align: center;
  line-height: 140px;
  color: white;
  margin: 20px 0;
  background: var(--siva);
  float: left;
  width: 180px;
  height: 110px;
}
.main .opis{
  position: relative;
  color: white;
  margin: 20px 0;
  float: right;
  width: 180px;
  height: 110px;
}
.main img{
  width: 50px;
  margin: auto;
}
.main img:hover{
  cursor: pointer;
}
.second .slika:nth-child(2n+1){
  float: right;
}
.second{
  clear: both;
  overflow: hidden;
}
/* main end */

/* footer start */
.footer{
  margin-top: 100px;
  padding: 0 40px;
  clear: both;
  overflow: hidden;
  background: #dbdbdb;
  height: 60px;
}
.left-pics{
  float: left;
}
.footer  .nav{
  margin-left: 70px;
}
.footer nav .nav ul li{
    font-size: 12px;
}
.footer nav .nav {
    margin-top: 20px;
}

.right-pics{
  float: right;
}
.pics{
  text-align: center;
  float: left;
  margin: 10px 6px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: white;
}
.pics img{
  margin: 10px auto;
  height: 20px;
}
.pics img:hover{
  cursor: pointer;
}
/* footer end */
@media screen and (max-width:480px) {
  .wrapper {
  width: 480px
  }
  .logo {
    width: 120px;
    height: 40px;
  }
  .laptop{
    display: none;
  }
  .tablet{
    display: block;
  }
  .tablet img{
    height: 24px;
    float:left;
    margin:0 15px
  }
  nav .nav{
    margin:10px 0 0 30px;
  }
  .search img{
    float: none;
    margin: 15px 20px  0;
  }
.hero{
  height: 195px
}
.hero .icon{
  top: 30px;
  width: 430px;
}
.icon img{
  width: 133px;
}
.icon .tekst{
  width: 275px;
}
h1{
  font-size: 36px;
  line-height: 50px;
}
.hero .icon{
  left: 40px;
}
.hero .tackice{
  top: 30px;
}
.search-input input{
  top: 70px;
  right: 0px;
}
.dots{
  left: 210px;
}
.footer nav{
  display: none;
}
}
@media screen and (max-width:320px) {
  .search-input input{
    width: 250px;
    right: 20px;
  }
  .footer{
    margin-top: 40px
  }
  .first{
    margin-bottom: 20px
  }
  .second .slika:nth-child(2n+1) {
    float: none;
  }
  .wrapper{
    width: 320px;
  }
  .opis-2{
    display: none
  }
  .main{
    width: 320px;
    margin: auto;
    text-align: center;
  }
  .main .slika{
    margin: 20px auto;
    float: none;
  }
  .main .opis{
    text-align: left;
    margin: auto;
    overflow: hidden;
    float: none;
    height: auto;
  }
  .icon img{
    width: 100px
  }
  .hero{
    margin-bottom: 0
  }
  .hero .tackice {
    top: 20px
  }
  .hero .tackice img{
    width: 320px
  }
  .tekst-mob{
    border-bottom: 1px solid var(--tamnosiva);
    border-top: 1px solid var(--tamnosiva);
    height: 50px;
    text-align: center;
    display: block;
    width: 320px;
    margin: 0 auto 20px ;
  }
  .tekst-mob h1{
    font-size: 16px;
    display: block;
  }
  .tekst-mob .img{
    margin-top: 15px;
    width:  20px;
    float: left;
  }
  .tekst-mob .img:nth-child(2){
    margin: 0;
    width:  250px;
    float: left;
  }
  .tekst-mob img{
    height: 10px;
  }
  .dots{
    display: none;
  }
  #navi{
    display: none;
  }
  .hero{
    height: 120px
  }
  .hero .icon{
    left: 100px;
    top: 10px;
    width: 100px;
  }
  .icon .tekst{
    display: none;
  }
  .tablet{
    display: none
  }
  .mob{
    display: block;
  }
  .mob{
    height: 30px;
    width: fit-content;
    float: right;
    margin: 10px 40px;
  }
  .icon-mob{
   width: 30px;
   float: left;
  }
  .icon-mob i:hover{
   color: var(--zutozelena);
   cursor: pointer;
  }
.icon-mob p{
  font-size: 20px;
}
  .search img{
    width: 18px;
    margin:1px 0 0;
  }
  #navmob{
  width: 100%;
  z-index: 10000;
  position: fixed;
  top:70px;
  left: 0;
  transition: 1.3s all ease;
  text-align: center;

}
#navmob li{
  color: white;
  width: 100%;
  transition: 1.3s all ease;
  padding: 10px;
  text-align: center;
  margin-right: 10px;
  font-weight: 300;
  font-size: 20px;
}
#navmob .home{
  background: var(--zutozelena)
}
#navmob .about{
  background: var(--zelena)
}
#navmob .work{
  background: var(--zelenoplava)
}
#navmob .contact{
  background: var(--plava)
}
#navmob li:hover:{

   color: white
}

}
